body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Header Section */
header {
    background-color: red;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header img {
    width: 50%;
}

header a {
    color: white !important;
    font-size: larger;
}

.current{
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('images/AdobeStock_140433340_Preview.jpg'); /* Add the background image */
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: beige;
    color: lightsalmon;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: orange;
}

/* Featured Dishes Section */
.featured-dishes {
    padding: 60px 20px;
    text-align: center;
}

.featured-dishes h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.dishes-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dish {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.dish img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dish h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.dish p {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: darkslategrey;
}

/* Soup Base Section */
.soup-bases {
    padding: 60px 20px;
    background-color: white;
    text-align: center;
}

.soup-bases h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.soup-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.soup-item {
    width: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.soup-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.soup-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.soup-item p {
    font-size: 1.1em;
    color: darkslategray;
}